name: Publish

env:
  DO_NOT_TRACK: 1

on: workflow_dispatch

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --filter @bobbyfidz/osdk-client.unstable
      - name: Build
        run: pnpm turbo build --filter @bobbyfidz/osdk-client.unstable
      - name: Publish
        run: pnpm publish --filter @bobbyfidz/osdk-client.unstable --access restricted
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}