name: Publish

env:
  DO_NOT_TRACK: 1

on: workflow_dispatch

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: 'https://registry.npmjs.org'
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm turbo build --filter @osdk/client.unstable
      - name: Overwrite package names
        run: |
          sed -i 's/@osdk\/client\.unstable/@bobbyfidz\/osdk-client.unstable/g' packages/client.unstable/package.json
      - name: Publish
        run: pnpm publish --access restricted --no-git-checks
        working-directory: packages/client.unstable
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}